.register-container {
  text-align: center;
  color: #ffffff;
}

.register-header {
  margin-bottom: 20px;
  text-align: center;
}

.signup-form {
  width: 380px;
  margin: 0 auto;
  background-color: rgb(24, 100, 243);
  border-radius: 10px;
}

.form-group {
  margin-bottom: 15px;
  margin-left: 10px;
  width: 90%;
}

.form-group label {
  display: block;
  text-align: left;
  margin-bottom: 5px;
}

.form-group input {
  width: 100%;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 6px;
  background-color: rgb(24, 100, 243);
}

.rememberme {
  margin-bottom: 10px;
}

.remember-me input {
  margin-right: 1px;
}

.register-button {
  width: 40%;
  padding: 10px;
  background-color: rgb(24, 100, 243);
  color: white;
  border: 2px solid white;
  border-radius: 4px;
  cursor: pointer;
  margin-bottom: 15px;
}

.register-button:hover {
  border-color: rgb(24, 100, 243);
  background-color: white;
  color: rgb(24, 100, 243);
}
