@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}
.navbar {
  display: flex;
  width: 100%;
  height: 7vh;
  text-align: center;
  align-items: center;
}
.left {
  width: 50%;
  display: flex;
  gap: 9rem;
  align-items: center;
  padding: 0 1.5rem;
}
.right {
  width: 50%;
  padding: 0 5rem;
  display: flex;
  justify-content: end;
  gap: 9rem;
  align-items: center;
}
.zidio {
  font-size: 27px;
  color: #fff;
  padding-top: 23px;
  cursor: pointer;
  width: 30%;
}
.scr {
  width: 70%;
  color: white;
}
.search-input {
  display: flex;
  gap: 0.5rem;
  align-items: center;
}
.search {
  padding: 0.6rem;
  border-radius: 5px;
  border: #fff;
  width: 50%;
}
.search::placeholder {
  color: #999;
  font-style: italic;
  font-size: 14px;
}
.btn {
  margin-left: 0.6rem;
  padding: 0.6rem 0.8rem;
  border: 1px solid;
  border-radius: 0.3rem;
  color: #fff;
  cursor: pointer;
}
.notification {
  display: flex;
}
.not {
  margin-left: 0.6rem;
  padding: 0.6rem 2rem 0.4rem 0.9rem;
  border: 1px solid;
  border-radius: 0.3rem;
  border: 1.2px ridge #eee;
  color: #fff;
}
.not-btn {
  margin: 0.5rem 2rem 0.6rem -1.7rem;
  padding: 0.2rem 0.4rem 0.1rem 0.3rem;
  background-color: #fff;
  border: 1px solid #fff;
  border-radius: 0.3rem;
  color: #000;
  cursor: pointer;
}
.user {
  display: flex;
  align-items: center;
  gap: 0.2rem;
  border: 1.2px solid #eee;
  padding: 0.5rem;
  border-radius: 0.3rem;
}
.use {
  margin-left: 0.6rem;
  color: #fff;
}
.pro {
  color: #fff;
}
.caret {
  color: #fff;
  cursor: pointer;
  margin-top: 0.2rem;
}
@media only screen and (max-width: 767px) {
  .navbar {
    padding: 0 1rem;
  }
  .left {
    padding: 0 0rem;
  }
  .right {
    padding: 0 0rem;
  }
  .scr {
    display: none;
  }
  .notification {
    display: none;
  }
  .search {
    display: none;
  }
}
@media only screen and (min-width: 768px) {
  .navbar {
    padding: 0 1rem;
  }
  .left {
    padding: 0 0rem;
  }
  .right {
    padding: 0 0rem;
  }
  .scr {
    display: flex;
  }
  .notification {
    display: flex;
  }
  .search {
    display: flex;
  }
}
