
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400&display=swap");
* {
  padding: 0;
  margin: 0;
  /* box-sizing: border-box; */
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}
.navbar {
  display: flex;
  top: 0;
  width: 100%;
  height: 7vh;
  background-color: rgb(8, 127, 219);
  z-index: 3;
  text-align: center;
};

.zidio {
  font-size: 27px;
  margin: 0rem 2rem 0rem 2rem;
  color: #fff;
  padding-top: 23px;
  cursor: pointer;
}
.scr {
  display: flex;
  margin: 0 3rem 0 5rem;
}
.search {
  padding: 0.3rem 0.6rem 0.3rem 0.6rem;
  border-radius: 5px;
  border: #fff;
}
.search::placeholder {
    color: #999;
    font-style: italic;
    font-size: 14px; 
  }
.btn {
  margin-left: 0.6rem;
  padding: 0.6rem 0.9rem 0.4rem 0.9rem;
  border: 1px solid;
  border-radius: 0.3rem;
  color: #fff;
  cursor: pointer;
}
.notification {
  display: flex;
  margin: 0 3rem 0 23rem;
}
.not {
  margin-left: 0.6rem;
  padding: 0.6rem 2rem 0.4rem 0.9rem;
  border: 1px solid;
  border-radius: 0.3rem;
  border: 1.2px solid #000;
  color: #fff;
}
.not-btn {
  margin: 0.5rem 2rem 0.6rem -1.7rem;
  padding: 0.2rem 0.4rem 0.1rem 0.3rem;
  background-color: #fff;
  border: 1px solid #fff;
  border-radius: 0.3rem;
  color: #000;
  cursor: pointer;
}
.user {
  display: flex;
  margin: 0 3rem 0 0rem;
}
.use {
  margin-left: 0.6rem;
  padding: 0.6rem 0.7rem 0.4rem 1rem;
  border: 1px solid;
  border: 1.2px solid #424242;
  color: #fff;
}
.pro {
  margin-right: -0.6rem;
  padding: 0.3rem 0.5rem 0.3rem 0.4rem;
  border: 1px solid;
  border: 1.2px solid #424242;
  color: #fff;
}
.caret {
  margin-left: -0.1rem;
  padding: 0.6rem 0.5rem 0.2rem 0.5rem;
  border: 1px solid;
  border: 1.2px solid #424242;
  color: #fff;
  cursor: pointer;
}

/* media screen */
@media screen and (width < 700px) {
  .navbar{
    display: flex;
    top: 0;
    width:auto;
    height: 3vh;
    z-index: 3;
    text-align: center;
  }
  .zidio{
    font-size: 20px;
    margin: 0rem -5rem 0rem 0 ;
    color: #ffffff;
    cursor: pointer;
  }
  .scr {
    display:flex;
    margin: 0 3rem 0 5rem;
  }
  .search {
    padding: 0.2rem -0.2rem 0.3rem 0.5rem;
    margin: auto;
    border-radius: 5px;
    border: #fff;
  }
  .search::placeholder {
      color: #999;
      font-style: italic;
      font-size: 13px; 
    }
    .btn {
      /* margin:0rem 0 0.6 0.3rem; */
      padding: 0rem 0.3rem 0.3rem 0.3rem;
      border: 1px solid;
      border-radius: 0.3rem;
      color: #fff;
      cursor: pointer;
    }
    .ut{
      margin: auto;
    }
    .notification{
      display: none;
    }
    .not-btn{
      display: none;
    }
    .user{
      display: none;
    }
}