* {
  padding: 0;
  margin: 0;
}
.container {
  box-sizing: border-box;
}
.nav {
  background-color: rgb(8, 127, 219);
  padding: 1rem 0;
  position: sticky;
  z-index: 100;
  top: 0;
}
.flex-main {
  display: flex;
  height: 100vh;
}
.side-bar {
  width: 15%;
  border: 1px solid black;
}
.links {
  display: flex;
  flex-direction: column;
}
.link {
  display: flex;
  gap: 0.5rem;
  padding: 1rem;
  text-decoration: none;
  border: 0.5px rgb(221, 220, 220) solid;
  border-radius: 7px;
}
.link.active {
  background-color: rgb(8, 127, 219);
  color: white;
}

.outlet {
  width: 85%;
}
@media only screen and (max-width: 767px) {
  .flex-main {
    display: flex;
    height: 100vh;
  }
  .side-bar {
    display: none;
    width: 15%;
    border: 1px solid black;
  }
}
